* {
  box-sizing: border-box;
}

body {
  font-family: 'times_dotroman';
  font-size:5rem;
  /* margin:1rem; */
  background:lightyellow;
  background:black;
  hyphens: auto;
  white-space: normal;
  word-wrap: break-word;
  transition:background 2s ease-in-out;
  /* color:rgb(230, 227, 212); */
}

img {
  max-width: 30vw;
}

.bold {
  font-weight: bold;
}

.split-wrap {
  display:flex;
  /* flex-direction: column; */
  position: fixed;
  top:0;
  left:0;
  z-index: -1;
  width:100vw;
  height:100vh;
  background:red;
}

.logo {
  max-width: 100%;
  height:3rem;
}

#split1 {
  background:lightgreen;
  width:100%;
  height:100%;
  transition:background 2s ease-in-out;
}

#split2 {
  background:lightblue;
  width:100%;
  height:100%;
  transition:background 2s ease-in-out;
}

#wrapper {
  display:flex;
  flex-direction:column;
  min-height:100vh;
  padding:1rem;
  text-align: center;
}

#sentence-wrap {
  flex-grow:1;
  /* background:lightblue; */
  display: flex;
  align-items: center;
  padding: 0 2rem 2rem 2rem;
  justify-content: center;
}

#sentence {
  /* flex-grow:1; */
  /* background:lightblue; */
  /* display: flex; */
  /* align-items: center; */
  /* padding: 0 2rem 2rem 2rem; */
  /* justify-content: center; */
  /* transition:opacity 1s ease; */
  animation: fade 20s ease-in-out infinite;
}

.info-container {
  /* background:lightgreen; */
  display:flex;
  width:100%;
  flex-wrap: wrap;

  /* background: linear-gradient(to bottom, black 0%, blue 45%, blue 55%, black 100%); */
  background-repeat: repeat;
  animation: down 50s infinite linear;
  background-size:100% 50%;
}

.segment {
  /* background:lightyellow; */
  width:50%;
}

.right {
  /* text-align: right; */
}

.resting {
  /* color:green; */
  /* cursor:pointer; */
}

.resting:hover {
  /* color:green; */
}

.small {
  font-size: 1.2rem;
  position: relative;
  transform: translate(-.5rem, -2.5rem);
  display: inline-block;
}

.flashing {
  animation: flash 2s infinite;
  transform: translateY(5px);
}


@font-face {
  font-family: 'times_dotroman';
  src: url('fonts/timesdotrom-webfont.woff2') format('woff2'),
    url('fonts/timesdotrom-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'times_dotbold';
  src: url('fonts/timesdotbol-webfont.woff2') format('woff2'),
    url('fonts/timesdotbol-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'times_dotitalic';
  src: url('fonts/times_dot-italic-webfont.woff2') format('woff2'),
    url('fonts/times_dot-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@keyframes down {
  /* 0% {background-position:  0 0;} */
  0% {background-position:  0 -200%;}
  100% {background-position:  -400% 0}
}

@keyframes flash {
  0% {opacity:1;}
  49% {opacity:1;}
  50% {opacity:0;}
  99% {opacity:0;}
  100% {opacity:1;}
}

@keyframes fade {
  0% {opacity:0;}
  10% {opacity:1;}
  90% {opacity:1;}
  100% {opacity:0;}
}

@media (max-width:1200px) {
  body {
    font-size: 3rem;
  }

  img {
    max-width:50vw;
  }

  .logo {
    height:1.7rem;
  }

  .segment {
    /* background:lightyellow; */
    width:100%;
  }

  .mobile-space {
    display: block;
    margin-top:2rem;
  }

  .small {
    font-size: 1rem;
    transform: translate(-.3rem, -1.4rem);
  }
}
